Repository trustwallet/blockatlas, pull requests merged in 2019-04, with the labels that each got.

#42 Add Ethereum platform
  README.md
  coin/slip44.go
  loaders.go
  models/api.go
  models/marshal_test.go
  platform/ethereum/api.go
  platform/ethereum/api_test.go
  platform/ethereum/source/client.go
  platform/ethereum/source/model.go
  test/main.go
Labels: platform/ethereum

#46 Add Aion platform
  coin/slip44.go
  config.go
  config.yml
  go.mod
  go.sum
  loaders.go
  platform/aion/api.go
  platform/aion/source/client.go
  platform/aion/source/model.go
  test/main.go
Labels: api, platform/aion

#57 Add SLIP-44 code generation
  coin/coin.go
  coin/coins.json
  coin/gen.go
  coin/slip44.go
Labels: enhancement

#58 platform/binance: Token transactions
  coin/slip44.go
  models/api.go
  models/marshal.go
  platform/binance/api.go
  platform/binance/api_test.go
  platform/binance/model.go
Labels: api, platform/binance, wip

#72 Lint fixes + Documentation
  coin/coin.go
  models/api.go
  models/marshal.go
  models/marshal_test.go
  platform/aion/api.go
  platform/aion/api_test.go
  platform/aion/client.go
  platform/binance/api.go
  platform/binance/api_test.go
  platform/binance/client.go
  platform/binance/model.go
  platform/ethereum/api.go
  platform/ethereum/api_test.go
  platform/ethereum/client.go
  platform/ethereum/model.go
  platform/icon/api.go
  platform/icon/api_test.go
  platform/icon/client.go
  platform/nimiq/api.go
  platform/nimiq/api_test.go
  platform/nimiq/client.go
  platform/nimiq/model.go
  platform/ripple/api.go
  platform/ripple/api_test.go
  platform/ripple/client.go
  platform/ripple/model.go
  platform/stellar/api.go
  platform/stellar/api_test.go
  platform/stellar/model.go
  platform/tezos/api.go
  platform/tezos/api_test.go
  platform/tezos/client.go
  platform/tezos/model.go
  test/main.go
  util/gin.go
  util/reverse_proxy.go
Labels: docs

#73 Add Tron platform
  README.md
  config.go
  config.yml
  loaders.go
  models/marshal.go
  platform/ripple/client.go
  platform/tron/api.go
  platform/tron/api_test.go
  platform/tron/client.go
  platform/tron/model.go
  test/main.go
Labels: api, new-platform, platform/tron

#78 platform/tron: Fix response
  go.mod
  go.sum
  models/api.go
  platform/tron/api.go
  platform/tron/api_test.go
  platform/tron/model.go
  platform/tron/util.go
  platform/tron/util_test.go
Labels: platform/tron

#90 Fix Kin missing transactions
  config.yml
  platform/binance/api.go
  platform/stellar/client.go
Labels: platform/kin
